
        body{margin:0px;padding:0px;}
        #border
        {
            background-color: blue;
        }
        #body
        {
            min-height: 100vh;
            margin:auto;
            width:90%; 
            display: flex; 
            flex-direction: column;  
            background-color: lightblue;       
        }
        #media
        {
            position: fixed;
            left: 95%;
            top: 40%;
            height: 20%;
            width: 5%;
            align-content: center;
        }
        #media ul
        {
            list-style-type: none;
            padding:0px;
            margin-left: 0px;
        }
        #media li
        {
            text-align: center;
        }
        #media img
        {
            border-radius: 100px;
            height: 80%;
            width: 80%;

        }  
        #header
        {
            display:flex;
            flex-direction: row;
            margin: 0px 10px 0px;
        }
        #header_Content
        {
            width: 100%;
            text-align: center;
        }
        #trevor_Image
        {
            margin: 0px 10px 0px 10px;
        }
        #trevor_Image img
        {
            border-radius: 50px;
           
        }
        nav
        {
            background-color: beige;
            width: 100%;
        }
        nav ul
        {
            list-style-type: none;
            margin:10px;
          
            display:flex;  
            justify-content: center;                    
        }
        nav li
        {
            padding:0px 10px 0px;
        }
        main
        {
            margin: 0px 10px 0px;
           height: 100%;
           display: grid;
           grid-template-rows: auto auto auto;
        }
        article
        {
           
            
            overflow:auto;
        }
        article img
        {
            float:left;
            height: 100px;
            width: 100px;
        }

        footer
        {
            margin-top:auto;
            text-align: center;
            position: relative;
            bottom: 0;
        }     
        footer p
        {
            display: inline;
        }   
    
